
/*Master Container*/
body{
	background: url(/luishisness.github.io/images/wp_background_two.jpg) 50% 50% / cover no-repeat fixed;
	font-family: 'Old Standard TT', serif;	
}

.mp-container *{
	margin:0px;
}

.mp-container{
	max-width: 800px;
    margin: auto;
    height: 800px;
}

.mp-container h1{
	text-align: center;
}

.mp-container img{
	display: block;
	width: 100%;
	height: auto;
}

/*Module Styles*/
.mp-container-module{
	padding: 5px 5px 5px 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;

	background-color: rgba(255,255,255,0.6);

  	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;

  	transition:.5s;
}

.mp-container-module:hover,
.mp-container-module:active,
.mp-container-module:focus  { 
	background-color: #ffffff; 
}


/*Header*/
#mp-header{

}
#mp-header img{
	max-width: 80%;
    margin: auto;
}

/*About*/
#mp-about{

}
#mp-about div{
	vertical-align: top;
 	display: inline-block;
}
#mp-about div:nth-child(1){
	max-width: 200px;	
}
#mp-about div:nth-child(2){
	max-width: 465px;	
	margin-top: 60px;
    margin-left: 65px;
}

/*Wood Works*/
#mp-woodworks{

}
div#mp-woodworks-copy{
	vertical-align: top;
	display: inline-block;
	max-width: 485px;
}

div#mpcarousel{
	vertical-align: top;
	display: inline-block;
	 max-width: 350px;
}
/*#mp-woodworks div:nth-child(1){
	max-width: 485px;
}

#mp-woodworks div:nth-child(2){
	 max-width: 350px;
}*/

/*Contact*/
#mp-contact{

}

/*Footer*/
.mp-container footer{
	text-align: center;
	color: white;
}

.mp-container footer a{
	font-weight:bold;
	color:white;
}

/*Carousel*/
#mpcarousel{
	max-width: 400px;
	height: auto;
}

/*---------------RESPONSIVE STYLES--------------------*/

@media screen and (max-width: 800px) {
	/*About*/
	#mp-about div{
	 	display: block;
	 	margin: auto;
	}
	#mp-about div:nth-child(1){
		max-width: 200px;	
	}
	#mp-about div:nth-child(2){
		max-width: 465px;	
		margin-top: 20px;
	    margin-left: auto;
	    margin-right:auto;
	}

	#mp-about h2{
		text-align: center;
	}

	/**/

	/**/

	/**/

	/**/
}





