


/*------------Overwritten bootstrap styles-------------------*/
.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
 
}
.container-fluid ul li{
    text-align:center; 
 }
.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

/*-------------Wood Shop Styles---------------------------*/
body {
  padding-top: 70px;
  text-align: center;
}		
.navbar-woodshop{
	/*margin: 0 0 0 240px;
	text-align:center;*/
}
.mainpage-content{
	text-align: center;
}
.mainpage-content img{
	margin: auto;
	width:100%;
}