


/*------------Overwritten bootstrap styles-------------------*/
/*.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
 
}
.container-fluid li{
    text-align:center; 
 }
 .container-fluid ul{
    text-align:center; 
 }*/
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    font-size: 18px;
     background-color: none; 
}*/
.navbar-default .navbar-nav>li>a {
    color: #777;
}
@media (min-width: 768px)
.navbar-nav>li>a {
    /*  */padding-top: 0px;
    /*  */padding-bottom: 0px;
}

.navbar-default {
    background-color: black;
}
.navbar-nav {
    display: inline-block;
    margin: 0;
    float:none;
}

/*-------------Wood Shop Styles---------------------------*/
body {
  padding-top: 70px;
  /**/text-align: center;
}		
.navbar-woodshop{
	/*margin: 0 0 0 240px;
	text-align:center;*/
	text-transform: uppercase;
}
.navbar-woodshop ul:hover li{
	color:white;
}

.mainpage-content h1{
	color:black;
	margin-bottom: 30px;
}
.mainpage-content img{
	margin: auto;
	width:100%;
}