
/*Master Container*/
body{
	background: url(/luishisness.github.io/images/wb_landing.jpg) 50% 50% / cover no-repeat fixed;
	/*background-repeat:no-repeat;
	background-size:cover;
	background-position: fixed;*/

	
}

.mp-container *{
	margin:0px;
}

.mp-container{
	max-width:1000px;
	background-color: rgba(255,255,255,0.9);
	margin:auto;
	height:1000px;
}

.mp-container h1{
	text-align: center;

}