/*------------Global Overwritten bootstrap styles-------------------*/
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: gray;
}

.navbar-nav>li>a {
      padding-bottom: 0px;
}

.navbar-default {
    background-color: rgba(0,0,0, 0.9);
}
div.navbar-header{}
.navbar-nav {
    display: inline-block;
    margin: 0;
    float:none;
    font-size:18px;
}
.container-fluid {
    background-color: white;
    max-width: 70%;
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav>.open>a {
    color: white !important;
    background-color: transparent !important;
}
.dropdown-menu {
    margin-top: 13px !important;
    text-align: center;
    background-color: beige; 

}
.dropdown-menu>li>a {
    color: white;
}

/*--------------------Global page shared styles---------------------------------*/

/*-------------Wood Shop Styles :Home Page---------------------------*/
body {
  /**/text-align: center;
  font-family: 'Old Standard TT', serif;
  background-color: beige; 
}		
.navbar-woodshop{
	/*margin: 0 0 0 240px;
	text-align:center;*/
	text-transform: uppercase;
}
.navbar-woodshop ul:hover li{
	color:white;
}
.socialicon-woodshop img:hover{
	opacity: 0.6;
}
.mainpage-content{
    padding-top: 70px;
}
.mainpage-content h1{
	color: black;
    margin-bottom: 40px;
    max-width: 565px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: solid black 1px; */
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.mainpage-content p{
	/*margin-top: 15px;*/
	 font-size: 20px;
}
.mainpage-content p:nth-child(1){
	margin-top: 20px;
	
}/**/
.mainpage-content img{
	margin: auto;
    max-width: 100%;
	/*width:100%;*/
}
.mainpage-center-content{

}
.mainpage-center-content img{
    max-width: 640px;
    
}
.mainpage-center-content p{
    max-width: 640px;
    
}
.socialicon-woodshop{
	margin-top: 20px;
    margin-bottom: 20px;
}
.socialicon-woodshop img{
	height: 30px;
	width: 30px;
	display: inline-block;
}
.footer-woodshop{
	margin-top: 30px;
	bottom: 0;
}